@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Maven Pro';
}

.bg-header {
    background-color: #2A2A2A;
}

#header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding: 20px;
}

.header__img {
    width: 130px;
}

#nav ul {
    list-style: none;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FED001;
    border: 1px solid #FED001;
    padding: 8px;
    margin-left: 5px;
    font-size: .9em;
}

#main {
    padding-top: 30px;
}

.bg-section-saiba-mais {
    background-image: linear-gradient(#FFFFFF, #FFFF38);
}

.section-saiba-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    width: 85%;
}

.saiba-mais-article__title {
    font-size: 3.8em;
    width: 500px;
    line-height: 80px;
    margin-bottom: 40px;
    font-weight: 600;
}

.saiba-mais-article_ancora {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #FED001;
    padding: 14px 40px;
    border-radius: 5px;
}

.saiba-mais-aside__img {
    width: 550px;
    transform: translateY(3px);
}

.bg-section-cursos {
    background: #FAFAFA;
    padding-top: 60px;
}

.section-cursos {
    width: 85%;
    margin: 0 auto;
}

.section-cursos_subtitle {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
}

.cursos-flexbox {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section-cursos-article {
    width: 300px;  
    background-color: #fff;
}

.article-img {
    width: 300px;
}

.article-curso-name {
    font-weight: bold;
    padding: 25px 0 20px 25px;
    font-size: 1.1em;
}

.article-curso-paragraph {
    font-size: .9em;
    padding: 0 25px 20px 25px;
}

