@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3a68b7;
    --primary-font: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.section-form {
    background-color: white;
    padding: 2em;
    width: 480px;
    border-left: 7px solid #2a497e;
}

.section-form h1 {
    font-weight: 300;
    color: var(--primary-color);
    font-size: 2em;
    margin: .4em 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

label {
    color: rgb(58, 58, 58);
    text-transform: uppercase;
    font-size: .8em;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    height: 2.5em;
    font-size: 1em;
    transition: ease .2s;
}

input:focus {
    border: 2px solid var(--primary-color);
    padding-left: .4em;
}

#user {
    margin-bottom: 1em;
}

.btn-register-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.btn-login {
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 6.2em;
    height: 2.7em;
    font-weight: bold;
    border-radius: 3px;
    margin-right: .5em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

.btn-login:focus {
    padding: 0;
}

.register {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
    color: var(--primary-color);
    font-weight: bold;
}

.forget {
    font-size: .8em;
}

.forget:visited {
    color: rgb(81, 15, 189);
}