@font-face {
    font-family: 'league_spartanbold';
    src: url('../unidades-de-medida/fontes/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../unidades-de-medida/fontes/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'league_spartanbold';
}