:root {
    --primary-color: #FED001;
}

html {
    font: 400 62.5% 'Inter', sans-serif;
    scroll-behavior: smooth;
}

p, a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.8rem;
}

nav a {
    color: inherit;
}

.upper {
    text-transform: uppercase;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.3rem 4.3rem;
    display: inline-block;
    color: inherit;
    transition: ease .8s;
}

.btn:hover {
    background-color: black;
    color: var(--primary-color);
}

.wrapperContainer {
    padding-top: 1px;
}

.wrapperContainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003a6a;
    color: #fafafa;
}

.wrapperContainer-fixed {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.wrapperContainer-padded {
    padding-top: 7rem;
}

.container {
    max-width: 110rem;
    margin: auto;
}

.section_title {
    padding: 3.5rem 0;
    text-align: center;
}

.section_btn {
    margin: 5rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 1rem 0;
}

.header_nav a {
    padding: .5em .7em;
    border: solid 1px;
    text-decoration: none;
    transition: ease .8s;
}

.header_nav a:hover {
    background-color: black;
}

.header_nav ul {
    display: flex;
    gap: .8rem;
    list-style-type: none;
}

.wrapperContainer-hero {
    background-image: linear-gradient(transparent, rgb(255, 255, 105));
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    transition: all 1.5s;
}

.header_content {
    margin-left: 5rem;
}

.hero_title {
    margin-bottom: 3rem;
}

.heroBanner img {
    width: 40%;
}

.cursos {
    text-align: center;
    transition: all 1.5s;
}

.cursosContainer {
    display: flex;
    text-align: left;
    gap: 2rem;
}

.curso_card {
    flex: 1;
    transition-duration: .8s;
    transition-timing-function: ease;
}

.curso_card:hover {
    transform: translateY(-10px);
}

.curso_card img {
    display: block;
    width: 100%;
}

.curso_card p {
    font-size: 1.5rem;
    line-height: 1.3;
}

.cursos_card_content {
    height: fit-content;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}

.escola {
    display: flex;
    align-items: center;
    gap: 8rem;
    padding-top: 6rem;
}

.escola_title {
    font-size: 2.8rem;
}

.escola p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.escola img {
    width: 40%;
}

.contatos_address {
    text-align: right;
    font: 400 1.5rem 'Inter', sans-serif;
    padding: 3rem 0;
}

.contatos_mapa {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

